<!DOCTYPE html>
<html>

<head>
    <title>Restaurants</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="static/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="static/vendors/css/style.css">

    <script src="/static/vendors/js/vendor.bundle.base.js"></script>
    <script src="/static/vendors/js/vendor.bundle.addons.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/restaurants.css">
    <link rel="stylesheet" type="text/css" href="/static/home.css">
    <link rel="stylesheet" href="/static/jquery-ui.css">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/js/themes/sand-signika.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="/static/jquery-ui.js"></script>

    <script src="static/js/search.js"></script>




</head>

<body>


    <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="#"><img src="static/images/logo_small.png" alt="logo"/></a>
              </div>
        <div class="navbar-menu-wrapper d-flex align-items-stretch">

            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item nav-profile dropdown">
                    <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
                        aria-expanded="false">
                        <div class="nav-profile-img">
                            <img src="static/images/faces/usericon.png" alt="image">
                            <span class="availability-status online"></span>
                        </div>
                        <div class="nav-profile-text">
                            <!-- <p class="mb-1 text-black">Lavanya</p> -->
                            <p class="mb-1 text-black" id="unameTopbar"></p>
                        </div>
                    </a>
                    <!--<div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">-->
                        <!--<a class="dropdown-item" href="/profile">-->
                            <!--<i class="mdi mdi-cached mr-2 text-success"></i>-->
                            <!--Profile-->
                        <!--</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#" onclick='goHome()'>-->
                            <!--<i class="mdi mdi-logout mr-2 text-primary"></i>-->
                            <!--Signout-->
                        <!--</a>-->
                    <!--</div>-->
                </li>
                <li class="nav-item d-none d-lg-block full-screen-link">
                    <a class="nav-link">
                        <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
                    </a>
                </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                <span class="mdi mdi-menu"></span>
            </button>
        </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item nav-profile">
                    <a href="#" class="nav-link">
                        <div class="nav-profile-image">
                            <img src="static/images/faces/usericon.png" alt="profile">
                            <span class="login-status online"></span>
                            <!--change to offline or busy as needed-->
                        </div>
                        <div class="nav-profile-text d-flex flex-column">
                            <!-- <span class="font-weight-bold mb-2">Lavanya. K</span> -->
                            <span class="font-weight-bold mb-2" id="uname"></span>
                            <span class="text-secondary text-small">User</span>
                        </div>
                        <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <span class="menu-title">Home</span>
                        <i class="mdi mdi-home menu-icon"></i>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <span class="menu-title">Dashboard</span>
                        <i class="mdi mdi-chart-bar menu-icon"></i>
                    </a>
                </li> -->
                <!-- <li class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="/dashboard" aria-expanded="false" aria-controls="ui-basic">
                        <span class="menu-title">Dashboard</span>
                        <i class="menu-arrow"></i>
                        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
                  
                        </a>
                        <div class="collapse" id="ui-basic">
                                <ul class="nav flex-column sub-menu">
                                    <li class="nav-item"> <a class="nav-link" href="/dashboardCity">City based analysis</a></li>
                                </ul>
                        </div>
                    </li> -->
                    <li class="nav-item">
                            <a class="nav-link" href="/dashboard_ui" >
                            <span class="menu-title">Dashboard</span>
                            <i class="mdi mdi-chart-bar menu-icon"></i>
                        
                            <!-- <i class="mdi mdi-chart-bar menu-icon"></i> -->
                            </a>
                            <div>
                                    <ul class="nav flex-column sub-menu">
                                        <li class="nav-item"> <a class="nav-link" href="/dashboardCity">City based analysis</a></li>
                                    </ul>
                            </div>
                        </li>
                <li class="nav-item">
                    <a class="nav-link" href="/story">
                        <span class="menu-title">Story</span>
                        <i class="mdi mdi-contacts menu-icon"></i>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">

                <div class="purchase-popup row">
                    <div id="restaurant-search-field" class="search-field d-none
                        d-md-block d-flex align-items-center">
                        <form class="d-flex align-items-center h-100" onsubmit="event.preventDefault(); onLoadHandler();">
                            <div class="input-group">
                                <div class="input-group-prepend" onclick="searchSubmit()">
                                    <i class="input-group-text border-0 mdi mdi-magnify"></i>
                                </div>
                                <input type="text" class="form-control border-0" id="location" placeholder="Search by location">
                            </div>
                        </form>
                    </div>
                    <form name="form2" action="#" class="row select-form">
                        <div class="col-6 div-1">
                            <select name="rating" class="col-12" id="selectRating" onChange="onLoadHandler()">
                                <option value="0">Select Rating</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>
                        <div class="col-6 div-2">
                            <select name="cuisine" id="selectCuisine" class="col-12" onChange="onLoadHandler()">
                                <option value="0">Select Cuisine</option>
                                <option value="Indian">Indian</option>
                                <option value="American">American</option>
                                <option value="Chinese">Chinese</option>
                                <option value="Japanese">Japanese</option>
                                <option value="Malaysian">Malaysian</option>
                                <option value="Mexican">Mexican</option>
                                <option value="Portuguese">Portuguese</option>
                                <option value="Caribbean">Caribbean</option>
                                <!-- <option value="Vietnamese">Vietnamese</option> -->
                                <!-- <option value="Spanish"> Spanish</option> -->
                                <option value="Italian">Italian</option>
                                <!-- <option value="Asian"> Asian</option> -->
                                <option value="Thai"> Thai</option>
                                <!-- <option value="Brazilian"> Brazilian</option> -->
                                <option value="Caribbean">Caribbean</option>
                                <!-- <option value="Hawaiian">Hawaiian</option> -->
                                <!-- <option value="Tapas">Tapas</option> -->
                                <!-- <option value="German">German</option> -->
                                <!-- <option value="Irish"> Irish</option> -->
                                <!-- <option value="Turkish">Turkish</option> -->
                                <option value="Mediterranean">Mediterranean</option>
                                <!-- <option value="Southern"> Southern</option> -->
                                <!-- <option value="Cajun"> Cajun</option> -->
                                <!-- <option value="Soul Food"> Soul Food</option> -->
                                <!-- <option value="Pub Food"> Pub Food</option> -->
                                <!-- <option value="New American">New American</option>
                                <option value="Latin American"> Latin American</option> -->
                                <option value="Vegetarian">Vegetarian</option>
                            </select>
                        </div>
                        <!-- <button id="opener" style="float: right" >Help</button>
                        <div id="dialog" title="Directions " >
                                <h4>Try below combinations</h4>
                                <li>Location: “fremont” or “san jose”</li>
                                <li>Rating: 4 or 5</li>
                                <li>Cuisine: American, Indian, Chinese</li>
                        </div>    -->
                    </form>
                </div>

                <div id="map" style="height:400px" class="col-12"></div>

                <div class="page-header">
                    <h3 class="page-title">
                        <span class="page-title-icon bg-gradient-primary text-white mr-2">
                            <i class="mdi mdi-home"></i>
                        </span>
                        Restaurants
                    </h3>
                    <nav aria-label="breadcrumb">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active" aria-current="page">
                                <span></span>View
                                <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div id="restaurant-list" class="row"></div>
            </div>
        </div>
    </div>
    <div class="container">


        <!-- <div id="accordion" style="width:73%;">
                
                <h3>Comparison</h3>
                <div><h4>Select Restaurants for comparison</h4>
                    <ul>
                            <li><a href="#">Paradise</a></li>
                            <li><a href="#">Yuk Wah Restaurant</a></li>
                            <li><a href="#">Boston Market</a></li>
                            <li><a href="#">Chinese Kitchen</a></li>
                    </ul></div>
                    <h3>Statistics</h3>
                    <div><ul>
                            <li>Top Reviewed Restaurants: Boston Market</li>
                            <li>Most Liked Cuisine: Chinese</li>
                    </ul></div>
                <h3>Dashboard</h3>
                <div>
                    <img src="/static/images/line-chart.png"></img></div>
        </div> -->


        <!-- <div id="container" style="width: 25%; height: 400px; " ></div>
        <div id="container" style="width: 25%; height: 400px; " ></div>
        <div id="container" style="width: 25%; height: 400px; " ></div>
        <div id="container" style="width: 25%; height: 400px; " ></div> -->

        <!-- <div class="row" style="width:73%;height:600px">
            <div id="container" class="column" style="background-color:#aaa;width: 50%;float: left;height: 300px;">
            </div>
            <div id="container2" class="column" style="background-color:#bbb;width: 50%;float: left;height: 300px;">
                <h2>Chart 2</h2>
            </div>
            <div id="container3" class="column" style="background-color:#ccc;width: 50%;float: left;height: 300px;">
                <h2>Chart 3</h2>
            </div>
            <div id="container4" class="column" style="background-color:#ddd;width: 50%;float: left;height: 300px;">
                <h2>Chart 4</h2>
            </div>
        </div> -->






    </div>


    <script type="text/javascript">

        function jQueryChangesInRestaurants() {

            //Resizable widget used in Start Theme for Google Maps
            $("#map").resizable();
            //$("#tabs").tabs();
        }
        document.addEventListener('DOMContentLoaded', function () {

            var availableTags = [
                "Las Vegas",
                "Phoenix",
                "Charlotte",
                "Princeton",
                "Winchester Bay",
                "Columbus",
            ];
            //Autocomplete widget in Start Theme
            $("#location").autocomplete({
                source: availableTags
            });
            //Button widget used in Start Theme
            // $('a').button();
            //Selectmenu widget used in Start Theme
            // $("#selectRating").selectmenu();
            // $("#selectCuisine").selectmenu();

        });
    </script>
    <script src="/static/js/off-canvas.js"></script>
    <script src="/static/js/misc.js"></script>
    <script src="/static/js/dashboard.js"></script>
</body>

</html>