h1{
    font-size:1.5em;
    color:#525252;
    margin-top: 200px;
  }

.box {
    border: none;
}
label {
    text-align: left;
}

form {
    margin-top: 0px;
}

.btn-row {
    margin-top: 50px;
}

.email {
    color: black;
}

/* For diabling email field in your profile */
.disabled {
    cursor: not-allowed;
}

.charts-nav {
    visibility: hidden;
}

.profile-image {
    background: url(/static/images/bg_weather3.png) center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.profile_info {
    display: flex;
    flex-direction: column;
    align-items: center;
}