<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8">
        <title>Medium Cluster</title>
          <script src="https://code.highcharts.com/highcharts.js"></script>
          <script src="https://code.highcharts.com/modules/data.js"></script>
          <script src="https://code.highcharts.com/modules/exporting.js"></script>
          <script src="https://code.highcharts.com/modules/export-data.js"></script>
          <script
          src="https://code.jquery.com/jquery-3.3.1.js"
          integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
          crossorigin="anonymous"></script>
          <script src="https://code.highcharts.com/js/themes/dark-blue.js"></script>

          <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/jumbotron/">
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">      
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- https://github.com/highcharts/highcharts/tree/master/js/themes -->
        <!-- avocado.js, dark-blue.js, dark.green.js, dark-unica.js,grid-light.js,grid.js,sand-signica.js,skies.js,sunset.js -->
        <style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #050505;
    text-align: left;
    padding: 8px;
}

th{
    background-color: #dddddd;
}

</style>
       
        </head>
    <body>
            <nav class="navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
                    <div class="container-fluid">
                      <div class="navbar-header">
                        <a class="navbar-brand" href="#">Dashboard</a>
                      </div>
                      <ul class="nav navbar-nav">
                            <li ><a href="http://127.0.0.1:5000/">Home</a></li>
                            <li ><a href="http://127.0.0.1:5000/view/sparse">Sparse Cluster</a></li>
                            <li class="active"><a href="http://127.0.0.1:5000/view/medium">Medium Cluster</a></li>
                            <li><a href="http://127.0.0.1:5000/view/dense">Dense Cluster</a></li>
                            <li><a href="http://127.0.0.1:5000/view/tree">Nodes Connections</a></li>
                      </ul>
                    </div>
                  </nav>

         <div class="jumbotron">
                <div class="container" id="container"></div>
        </div>
            <!-- <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div> -->
            <div class="container">
                <table id="nodeHopCounts">
                <thead>
                <tr>
                    <th></th>
                    <th>Before Clustering</th>
                    <th>After Clustering</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Node0</th>
                    <td>0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Node1</th>
                    <td>1</td>
                    <td>1</td>
                </tr>
                <tr>
                   <th>Node2</th>
                    <td>1</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Node3</th>
                    <td>2</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>Node4</th>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Node5</th>
                    <td>2</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Node6</th>
                    <td>3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Node7</th>
                    <td>2</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Node8</th>
                    <td>3</td>
                    <td>0</td>
                </tr>
                <tr>
                    <th>Node9</th>
                    <td>3</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>Node10</th>
                    <td>4</td>
                    <td>1</td>
                </tr>
                <tr>
                    <th>Node11</th>
                    <td>3</td>
                    <td>1</td>
                </tr>
                        <tr>
                    <th>Node12</th>
                    <td>4</td>
                    <td>2</td>
                </tr>
                        <tr>
                    <th>Node13</th>
                    <td>5</td>
                    <td>3</td>
                </tr>
                        <tr>
                    <th>Node14</th>
                    <td>4</td>
                    <td>1</td>
                </tr>
                        <tr>
                    <th>Node15</th>
                    <td>5</td>
                    <td>2</td>
                </tr>
                        <tr>
                    <th>Node16</th>
                    <td>6</td>
                    <td>3</td>
                </tr>
        
                        <tr>
                    <th>Node17</th>
                    <td>7</td>
                    <td>4</td>
                </tr>
                        <tr>
                    <th>Node18</th>
                    <td>5</td>
                    <td>2</td>
                </tr>
                        <tr>
                    <th>Node19</th>
                    <td>6</td>
                    <td>3</td>
                </tr>
                        <tr>
                    <th>Node20</th>
                    <td>5</td>
                    <td>2</td>
                </tr>
                <tr>
                    <th>Node21</th>
                    <td>6</td>
                    <td>1</td>
                </tr>
                 <tr>
                    <th>Node22</th>
                    <td>7</td>
                    <td>0</td>
                </tr>
                 <tr>
                    <th>Node23</th>
                    <td>8</td>
                    <td>1</td>
                </tr>
                 <tr>
                    <th>Node24</th>
                    <td>4</td>
                    <td>3</td>
                </tr>
                 <tr>
                    <th>Node25</th>
                    <td>8</td>
                    <td>5</td>
                </tr>
                 <tr>
                    <th>Node26</th>
                    <td>8</td>
                    <td>5</td>
                </tr>
                 <tr>
                    <th>Node27</th>
                    <td>7</td>
                    <td>3</td>
                </tr>
                 <tr>
                    <th>Node28</th>
                    <td>7</td>
                    <td>3</td>
                </tr>
                 <tr>
                    <th>Node29</th>
                    <td>8</td>
                    <td>4</td>
                </tr>
                 <tr>
                    <th>Node30</th>
                    <td>6</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>

        <footer><!-- <p>&copy; Company 2017</p> --></footer>
        <!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
</div>      
</body>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>

<script>
    
Highcharts.chart('container', {
  data: {
      table: 'nodeHopCounts'
  },
  chart: {
      type: 'line'
  },
  title: {
      text: 'Comparison of Medium Cluster Hop Count ( Before/ After Clustering )'
  },
  yAxis: {
      allowDecimals: false,
      title: {
          text: 'Hop Count'
      }
  },
  tooltip: {
      formatter: function () {
          return '<b>' + this.series.name + '</b><br/>' +
          'Hop count of '+
          this.point.name.toLowerCase() + ': ' + this.point.y ;
      }
  }
});
</script>
</html>


